{\rtf1\ansi\ansicpg1252\cocoartf2580
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\froman\fcharset0 Times-Roman;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\paperw11900\paperh16840\margl1440\margr1440\vieww33400\viewh17780\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs26 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 #########################
\fs24 \

\fs26 # .gitignore file for Xcode4 and Xcode5 Source projects
\fs24 \

\fs26 #
\fs24 \

\fs26 # Apple bugs, waiting for Apple to fix/respond:
\fs24 \

\fs26 #
\fs24 \

\fs26 #    15564624 - what does the xccheckout file in Xcode5 do? Where's the documentation?
\fs24 \

\fs26 #
\fs24 \

\fs26 # Version 2.6
\fs24 \

\fs26 # For latest version, see: http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
\fs24 \

\fs26 #
\fs24 \

\fs26 # 2015 updates:
\fs24 \

\fs26 # - Fixed typo in "xccheckout" line - thanks to @lyck for pointing it out!
\fs24 \

\fs26 # - Fixed the .idea optional ignore. Thanks to @hashier for pointing this out
\fs24 \

\fs26 # - Finally added "xccheckout" to the ignore. Apple still refuses to answer support requests about this, but in practice it seems you should ignore it.
\fs24 \

\fs26 # - minor tweaks from Jona and Coeur (slightly more precise xc* filtering/names)
\fs24 \

\fs26 # 2014 updates:
\fs24 \

\fs26 # - appended non-standard items DISABLED by default (uncomment if you use those tools)
\fs24 \

\fs26 # - removed the edit that an SO.com moderator made without bothering to ask me
\fs24 \

\fs26 # - researched CocoaPods .lock more carefully, thanks to Gokhan Celiker
\fs24 \

\fs26 # 2013 updates:
\fs24 \

\fs26 # - fixed the broken "save personal Schemes"
\fs24 \

\fs26 # - added line-by-line explanations for EVERYTHING (some were missing)
\fs24 \

\fs26 #
\fs24 \

\fs26 # NB: if you are storing "built" products, this WILL NOT WORK,
\fs24 \

\fs26 # and you should use a different .gitignore (or none at all)
\fs24 \

\fs26 # This file is for SOURCE projects, where there are many extra
\fs24 \

\fs26 # files that we want to exclude
\fs24 \

\fs26 #
\fs24 \

\fs26 #########################
\fs24 \
\

\fs26 #####
\fs24 \

\fs26 # OS X temporary files that should never be committed
\fs24 \

\fs26 #
\fs24 \

\fs26 # c.f. http://www.westwind.com/reference/os-x/invisibles.html
\fs24 \
\
.DS_Store\
\

\fs26 # c.f. http://www.westwind.com/reference/os-x/invisibles.html
\fs24 \
\
.Trashes\
\

\fs26 # c.f. http://www.westwind.com/reference/os-x/invisibles.html
\fs24 \
\
*.swp\
\

\fs26 #
\fs24 \

\fs26 # *.lock - this is used and abused by many editors for many different things.
\fs24 \

\fs26 #    For the main ones I use (e.g. Eclipse), it should be excluded
\fs24 \

\fs26 #    from source-control, but YMMV.
\fs24 \

\fs26 #   (lock files are usually local-only file-synchronization on the local FS that should NOT go in git)
\fs24 \

\fs26 # c.f. the "OPTIONAL" section at bottom though, for tool-specific variations!
\fs24 \

\fs26 #
\fs24 \

\fs26 # In particular, if you're using CocoaPods, you'll want to comment-out this line:
\fs24 \
*.lock\
\
\

\fs26 #
\fs24 \

\fs26 # profile - REMOVED temporarily (on double-checking, I can't find it in OS X docs?)
\fs24 \

\fs26 #profile
\fs24 \
\
\

\fs26 ####
\fs24 \

\fs26 # Xcode temporary files that should never be committed
\fs24 \

\fs26 # 
\fs24 \

\fs26 # NB: NIB/XIB files still exist even on Storyboard projects, so we want this...
\fs24 \
\
*~.nib\
\
\

\fs26 ####
\fs24 \

\fs26 # Xcode build files -
\fs24 \

\fs26 #
\fs24 \

\fs26 # NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "DerivedData"
\fs24 \
\
DerivedData/\
\

\fs26 # NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"
\fs24 \
\
build/\
\
\

\fs26 #####
\fs24 \

\fs26 # Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
\fs24 \

\fs26 #
\fs24 \

\fs26 # This is complicated:
\fs24 \

\fs26 #
\fs24 \

\fs26 # SOMETIMES you need to put this file in version control.
\fs24 \

\fs26 # Apple designed it poorly - if you use "custom executables", they are
\fs24 \

\fs26 #  saved in this file.
\fs24 \

\fs26 # 99% of projects do NOT use those, so they do NOT want to version control this file.
\fs24 \

\fs26 #  ..but if you're in the 1%, comment out the line "*.pbxuser"
\fs24 \
\

\fs26 # .pbxuser: http://lists.apple.com/archives/xcode-users/2004/Jan/msg00193.html
\fs24 \
\
*.pbxuser\
\

\fs26 # .mode1v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
\fs24 \
\
*.mode1v3\
\

\fs26 # .mode2v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
\fs24 \
\
*.mode2v3\
\

\fs26 # .perspectivev3: http://stackoverflow.com/questions/5223297/xcode-projects-what-is-a-perspectivev3-file
\fs24 \
\
*.perspectivev3\
\

\fs26 #    NB: also, whitelist the default ones, some projects need to use these
\fs24 \
!
\fs26 default
\fs24 .pbxuser\
!
\fs26 default
\fs24 .mode1v3\
!
\fs26 default
\fs24 .mode2v3\
!
\fs26 default
\fs24 .perspectivev3\
\
\

\fs26 ####
\fs24 \

\fs26 # Xcode 4 - semi-personal settings
\fs24 \

\fs26 #
\fs24 \

\fs26 # Apple Shared data that Apple put in the wrong folder
\fs24 \

\fs26 # c.f. http://stackoverflow.com/a/19260712/153422
\fs24 \

\fs26 #     FROM ANSWER: Apple says "don't ignore it"
\fs24 \

\fs26 #     FROM COMMENTS: Apple is wrong; Apple code is too buggy to trust; there are no known negative side-effects to ignoring Apple's unofficial advice and instead doing the thing that actively fixes bugs in Xcode
\fs24 \

\fs26 # Up to you, but ... current advice: ignore it.
\fs24 \
*.xccheckout\
\

\fs26 #
\fs24 \

\fs26 #
\fs24 \

\fs26 # OPTION 1: ---------------------------------
\fs24 \

\fs26 #     throw away ALL personal settings (including custom schemes!
\fs24 \

\fs26 #     - unless they are "shared")
\fs24 \

\fs26 # As per build/ and DerivedData/, this ought to have a trailing slash
\fs24 \

\fs26 #
\fs24 \

\fs26 # NB: this is exclusive with OPTION 2 below
\fs24 \
xcuserdata/\
\

\fs26 # OPTION 2: ---------------------------------
\fs24 \

\fs26 #     get rid of ALL personal settings, but KEEP SOME OF THEM
\fs24 \

\fs26 #     - NB: you must manually uncomment the bits you want to keep
\fs24 \

\fs26 #
\fs24 \

\fs26 # NB: this *requires* git v1.8.2 or above; you may need to upgrade to latest OS X,
\fs24 \

\fs26 #    or manually install git over the top of the OS X version
\fs24 \

\fs26 # NB: this is exclusive with OPTION 1 above
\fs24 \

\fs26 #
\fs24 \

\fs26 #xcuserdata/**/*
\fs24 \
\

\fs26 #     (requires option 2 above): Personal Schemes
\fs24 \

\fs26 #
\fs24 \

\fs26 #!xcuserdata/**/xcschemes/*
\fs24 \
\

\fs26 ####
\fs24 \

\fs26 # Xcode 4 workspaces - more detailed
\fs24 \

\fs26 #
\fs24 \

\fs26 # Workspaces are important! They are a core feature of Xcode - don't exclude them :)
\fs24 \

\fs26 #
\fs24 \

\fs26 # Workspace layout is quite spammy. For reference:
\fs24 \

\fs26 #
\fs24 \

\fs26 # /(root)/
\fs24 \

\fs26 #   /(project-name).xcodeproj/
\fs24 \

\fs26 #     project.pbxproj
\fs24 \

\fs26 #     /project.xcworkspace/
\fs24 \

\fs26 #       contents.xcworkspacedata
\fs24 \

\fs26 #       /xcuserdata/
\fs24 \

\fs26 #         /(your name)/xcuserdatad/
\fs24 \

\fs26 #           UserInterfaceState.xcuserstate
\fs24 \

\fs26 #     /xcshareddata/
\fs24 \

\fs26 #       /xcschemes/
\fs24 \

\fs26 #         (shared scheme name).xcscheme
\fs24 \

\fs26 #     /xcuserdata/
\fs24 \

\fs26 #       /(your name)/xcuserdatad/
\fs24 \

\fs26 #         (private scheme).xcscheme
\fs24 \

\fs26 #         xcschememanagement.plist
\fs24 \

\fs26 #
\fs24 \

\fs26 #
\fs24 \
\

\fs26 ####
\fs24 \

\fs26 # Xcode 4 - Deprecated classes
\fs24 \

\fs26 #
\fs24 \

\fs26 # Allegedly, if you manually "deprecate" your classes, they get moved here.
\fs24 \

\fs26 #
\fs24 \

\fs26 # We're using source-control, so this is a "feature" that we do not want!
\fs24 \
\
*.moved-aside\
\

\fs26 ####
\fs24 \

\fs26 # OPTIONAL: Some well-known tools that people use side-by-side with Xcode / iOS development
\fs24 \

\fs26 #
\fs24 \

\fs26 # NB: I'd rather not include these here, but gitignore's design is weak and doesn't allow
\fs24 \

\fs26 #     modular gitignore: you have to put EVERYTHING in one file.
\fs24 \

\fs26 #
\fs24 \

\fs26 # COCOAPODS:
\fs24 \

\fs26 #
\fs24 \

\fs26 # c.f. http://guides.cocoapods.org/using/using-cocoapods.html#what-is-a-podfilelock
\fs24 \

\fs26 # c.f. http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
\fs24 \

\fs26 #
\fs24 \

\fs26 #!Podfile.lock
\fs24 \

\fs26 #
\fs24 \

\fs26 # RUBY:
\fs24 \

\fs26 #
\fs24 \

\fs26 # c.f. http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
\fs24 \

\fs26 #
\fs24 \

\fs26 #!Gemfile.lock
\fs24 \

\fs26 #
\fs24 \

\fs26 # IDEA:
\fs24 \

\fs26 #
\fs24 \

\fs26 # c.f. https://www.jetbrains.com/objc/help/managing-projects-under-version-control.html?search=workspace.xml
\fs24 \

\fs26 # 
\fs24 \

\fs26 #.idea/workspace.xml
\fs24 \

\fs26 #
\fs24 \

\fs26 # TEXTMATE:
\fs24 \

\fs26 #
\fs24 \

\fs26 # -- UNVERIFIED: c.f. http://stackoverflow.com/a/50283/153422
\fs24 \

\fs26 #
\fs24 \

\fs26 #tm_build_errors
\fs24 \
\

\fs26 ####
\fs24 \

\fs26 # UNKNOWN: recommended by others, but I can't discover what these files are
\fs24 \

\fs26 #
\fs24 \
}